@keyframes fade-in-left {
  from {
    opacity: 0;
    transform: translate(-55%, -50%);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

.header {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 1000px;
  padding: 0 48px;
  opacity: 0;
  visibility: visible;
  transition: all 600ms 600ms;
  animation: fade-in-left 1s 500ms ease forwards;
  z-index: 1;
}

.headerPara {
  font-size: 20px;
  line-height: 2;
  max-width: 400px;
}

.socialList {
  position: relative;
  margin-top: 1rem;
  display: flex;
  height: fit-content;
  align-items: center;
  gap: 1.5rem;
}

.socialLink {
  color: var(--color-dark);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 28px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

:global(.dark-theme) .headerPara,
:global(.dark-theme) .socialLink {
  color: white;
}

@media (max-width: 768px) {
  .headerPara {
    font-size: 16px;
    max-width: 325px;
  }
  .socialLink {
    font-size: 24px;
    width: 28px;
    height: 28px;
  }
  .socialList {
    gap: 1.25rem;
  }
}

@media (max-width: 480px) {
  .headerPara {
    font-size: 14px;
  }
}
