.button{
    display: inline-block;
    padding: 0.75rem 1.5rem;
    background-color: #F06449;
    margin-top: 5rem;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    text-transform: capitalize;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #d9534f;
}

.button:active {
    background-color: #c9302c;
    transform: translateY(1px);
}